<div class="panel panel-default">
  <div class="panel-heading">
    <form #form="ngForm" class="form-inline">
    <label>Category</label>

      <select class="form-control" [(ngModel)]="selectedCategory" (change)="filter()" name="categoryList">
      <option *ngFor="let category of categories" [ngValue]="category" [selected]="selectedCategory == category" >{{category}}</option>
      </select>
    </form>
  </div>
  <div class="panel-body">
    <div class="row">
      <div *ngFor="let post of filtered">
        <a [routerLink] ="['/post/', post._id]" ><div class="col-md-4" >
          <div class="thumbnail">
            <img src="{{post.imgageUrl}}">
            <div class="caption">
              {{post.title}}<br>
              {{post.location.city}},&nbsp;{{post.location.state}},&nbsp;{{post.location.zip}}
            </div>
          </div>
        </div></a>
      </div>
    </div>
  </div>
</div>
